{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"],
  "endOfLine": "auto",
  "insertPragma": false,
  "requirePragma": false
}